/*Globales*/

@import url('https://fonts.googleapis.com/css2?family=Cinzel&family=Permanent+Marker&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Roboto:wght@300&display=swap');

.color{
    background-color: aquamarine;
}
html{
    font-family: 'Roboto', sans-serif;
    line-height: 1.1;
    color: white;
}

body{
    background-color: #1B2838;
}
h2{
    text-align: center;
    font-size: 1.5rem;
}

header .encabezado h1{
    font-size: 1.8rem;
    margin-left: 4.9rem;
    color: aliceblue;
    font-family: 'Cinzel', serif;
    
}

/*Encabezado*/

header, nav ul{
    justify-content: center;
}

div .img-logo{
    margin-top: -5rem;
    height: 5rem;
    
}
.contenedor-header{
    background-color: #171a21;
    padding: 1rem;
}
/*Propiedades repetidas*/
header,nav ul, aside, .contenedor-footer, .contenedor-giftcards, .tituloylogo, header .encabezado h1,footer ul li img,footer ul.redes,fieldset div,.btn-menu{
    display: flex;
}

/*imagenes*/


.contenedor-giftcards,.contenedor-footer{
flex-direction: column;
}
.contenedor-giftcards img{
    width: 100%;
}

.redes{
    flex-direction: row;
}

footer img,nav ul,.confirmed-error,.cajaH2 span,.h2desktop{
    display: none;
 }
 aside{
     display: block;
 }
 aside img{
     width: 100%;
 }
/* Footer */


footer ul li img{
    height: 2.3rem;
}

footer{
    background-color: #171a21 ;
    font-size: 1rem;
    text-align: center;
}
footer ul{
    padding: 0;
}
footer ul.redes{
    margin: 0;
    justify-content: center;
    margin-bottom: 2rem;
}

footer ul li{
    list-style: none;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}

footer h3{
   font-size: 1.2rem;
}

/*Copyright*/

.autor{
    background-color: rgb(197, 191, 191);
    padding: .5rem;
    text-align: center;
    font-size: 1rem;
    color: black;
}


/*lista descuento*/

aside ul{
    margin: 2rem 2rem 2rem 0;
    padding: 0;
    list-style: none;
}

aside ul li{
    margin: 1rem;
    padding: 1rem 0 1rem 0;
    font-size: 1rem;
}

aside ul li span{
    font-weight: 100;
    text-decoration: line-through;
    font-style: italic;
}

aside ul li {
    font-weight: bold;
}

/*Formulario*/

fieldset div{
    padding: 0.5rem 0;
    flex-direction: column;
    text-align: center;
    font-size: larger;
}
fieldset button{
    text-transform: uppercase;
    padding: .5rem 1rem;
    border: 0.3rem solid white;
    color: white;
    border-radius: .5rem;
    font-size: 1rem;
    margin-bottom: 0.5rem;
    width: 70%;
    margin-left: 15%;
    

}
fieldset button:hover{
    cursor: pointer;
    background-color: white;
    transition: 0.5s;
    border: 0.3rem solid #171a21;
    color: black;
}
fieldset{
    border-style: none;
    background-color: gray;
    border-radius: 1rem;
}
legend{
    text-align: center;
    padding-top: 2rem;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 1.5rem;
    
}

th, .fondoTd, fieldset button{
    background-color:#171a21 ;
}


/* Navegacion */
.btn-menu{
    justify-content: end;
}
ul.navegacion{
    display: none;
}

ul.navegacion.show{
    display: block;
}

nav ul{
    flex-direction: column;
    color: aliceblue;
    font-family: 'Cinzel', serif;
}

nav ul li:hover{
    background-color:#1B2838;
    padding: .4rem;
}

nav ul li{
    list-style: none;
    text-transform: capitalize;
    font-size: .8rem;
    padding: .5rem;
    cursor: pointer;
    
}

nav ul li a {
    text-decoration: none;
    color: inherit;
}


/*captcha*/

.img-captcha{
    width: 50%;
    margin-left: 25%;
}
.mostrarimagen{
    display: inline;
    height: 1.5rem;
    
}


.verificado, .error{
    background-color: aliceblue;
    color: black;
    width: 98%;
}

.verificado{
    border: .3rem solid rgb(4, 138, 38);
}
.error{
    border: .3rem solid rgb(255, 0, 0);

}
/*tabla*/

table{
    border-collapse: collapse;
}
td,th{
    border: solid white 0.1rem;
    padding: 1rem;
    text-align: center;
    color: rgb(135, 221, 250);
}
table{
    width: 100%;
}
table img{
    width: 80%;
}





@media only screen and (min-width:660px){

    .cajaH2 span,.h2desktop,aside {
        display: flex;
    }
    .tabladesktop{
        display: block;
    }
    
    .autor, fieldset div,aside ul li{
        font-size: medium;
        }
    /*Encabezado*/

    header .encabezado h1{
        font-size: 6rem;
    }

    header, nav ul{
        justify-content: center;
    }

    div img.img-logo{
        display: block;
        margin-top: -15rem;
        height: 15rem;
        
    }

    /* Navegacion */

    .btn-menu{
        display: none;
    }

    ul.navegacion{
        display: flex;
    }

    nav ul{
        
        margin-top: -5rem;
        margin-left: 3rem;
        padding: 0;
        flex-direction: row;
    }

    nav ul li:hover{
        background-color:#1B2838;
        padding: .7rem;
        border-bottom: 0.2rem solid white;
    }
    nav ul li{
        font-size: 1.1rem;
    }

    /*imagenes*/

    aside img{
        width: 70%;
        margin: .7rem;
        display: flex;
    }

    .contenedor-giftcards {
        flex-direction: row;
    }
    .contenedor-giftcards img{
        width: 25%;
        height: 30rem;
    }
    .contenedor-footer{
        flex-direction: row;
    }

    footer img {
        display: flex;
        height: 13rem;
    }

    footer ul li img{
        height: 3rem;
    }

   
    /*lo mas vendido y tablas*/
    div.cajaH2 h2{
        justify-content: center;
    }

    /*Formulario*/
    fieldset input{
        margin-bottom: 1rem;
        width: 50%;
        margin-left: 25%;
    }
    fieldset button{
        
        width: 50%;
        margin-left: 25%;
        
    
    }

    fieldset{
        width: 50%;
        margin-left: 25%;
    }

    fieldset div{
        justify-content: center;
        
    }
    fieldset{
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif ;
        box-shadow: 0.625rem 0.625rem 0.313rem 0 rgba(0,0,0,0.75);
    }
    .tabla-dinamica{
        margin: 2rem 0;
    }


    /*captcha*/
    div.inputCaptcha input{
        width: 25%;
        margin-left: 37%;
    }
    .img-captcha{
        width:15%;
        margin-left: 42.5%;
        
    }
    .verificado, .error{
        width: 50%;
        margin-left:25% ;
    }
    .respuesta{
        flex-direction: column;
    }

    /* Footer */
    footer{
        text-align: unset;
        margin-top: .5rem;
    }
    .listacontacto{
        text-align: center;
    }
    .lista-contacto ul{
        padding-left: 3rem;
    }
    .contenedor-footer{
        justify-content: space-around;
    }

    footer ul.redes{
        display: flex;
    }

    footer ul li{
        font-size: medium;
        margin: 1rem;
    }

    footer h3{
    margin-top: 2rem;
    margin-left: 5rem ;
    font-size: 1rem;
    }

}


/*Tabla responsiva uso de media query para celular*/
@media screen and (max-width: 480px){
    td, tr,th {
        border-collapse: collapse;
        display: block;
        padding: 1em;
    }
}
