/*Globales*/

@import url('https://fonts.googleapis.com/css2?family=Cinzel&family=Permanent+Marker&display=swap');


*{
    box-sizing: border-box;
}
 
html{
    
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    line-height: 1.1;

}
body{
    background-color: #1B2838;
}


/*Encabezado*/

header, nav ul{
    justify-content: center;
}

header .encabezado h1{
    margin-top: 0;
    font-size: 6rem;
    color: aliceblue;
    font-family: 'Cinzel', serif;
    
}

div .img-logo{
    margin-top: -15rem;
    height: 13rem;
    
}
.contenedor-header{
    background-color: #171a21;
    padding: .1rem;
}
/*items con mismo contenido*/
header,nav ul, .contenedor-descuento, .contenedor-footer{
    display: flex;
}

/* Navegacion */

nav ul{
    margin-top: -5rem;
    margin-left: 3rem;
    padding: 0;
    color: aliceblue;
    font-family: 'Cinzel', serif;
    
}

nav ul li:hover{
    background-color:#1B2838;
    padding: .7rem;
    
}

nav ul li{
    list-style: none;
    text-transform: capitalize;
    font-size: 1.1rem;
    padding: .5rem;
    cursor: pointer;


}

nav ul li a {
    text-decoration: none;
    color: inherit;



}
/*lista descuento*/


.contenedor, div.contenedor ul{
    margin: 0;
}


/*imagenes*/

div.contenedor-descuento img{
    width: 70%;
    margin: .7rem;
}

/* Footer */

footer{
    background-color: #171a21;
}

footer p{
    margin-bottom: -4rem;
}

.contenedor-footer{
    justify-content: end;
}

footer img {
    height: 11rem;
}

.autor{
    background-color: rgb(197, 191, 191);
    padding: 1rem;
    text-align: center;
}
