/*Globales*/

@import url('https://fonts.googleapis.com/css2?family=Cinzel&family=Permanent+Marker&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Roboto:wght@300&display=swap');

*{
    box-sizing: border-box;
}
 
html{
    
    font-family: 'Roboto', sans-serif;
    line-height: 1.1;
    color: white;
}
body{
    background-color: #1B2838;
}


/*Encabezado*/

header, nav ul{
    justify-content: center;
}

header .encabezado h1{
    margin-top: 0;
    font-size: 6rem;
    color: aliceblue;
    font-family: 'Cinzel', serif;
    
}

div .img-logo{
    margin-top: -15rem;
    height: 15rem;
    
}
.contenedor-header{
    background-color: #171a21;
    padding: .1rem;
}
/*items con mismo contenido*/
header,nav ul, .contenedor-descuento, .contenedor-footer{
    display: flex;
}

/* Navegacion */

nav ul{
    margin-top: -5rem;
    margin-left: 3rem;
    padding: 0;
    color: aliceblue;
    font-family: 'Cinzel', serif;
    
}

nav ul li:hover{
    background-color:#1B2838;
    padding: .7rem;
    
}

nav ul li{
    list-style: none;
    text-transform: capitalize;
    font-size: 1.1rem;
    padding: .5rem;
    cursor: pointer;


}

nav ul li a {
    text-decoration: none;
    color: inherit;



}
/*lista descuento*/


div.contenedor-descuento  ul{
    margin: 2rem 2rem 2rem 0;
    padding: 0;
    

}

div.contenedor-descuento  ul li{
    margin: 1rem;
    padding: 1rem 0 1rem 0;
    
   
}

span{
    font-weight: 100;
    text-decoration: line-through;
    font-style: italic;
}

div.contenedor-descuento ul li {
    font-weight: bold;
}



/*imagenes*/

div.contenedor-descuento img{
    width: 70%;
    margin: .7rem;
}

/* Footer */

footer{
    background-color: #171a21;
    margin-top: .5rem;
}




.contenedor-footer{
    justify-content: space-around;

}

footer img {
    padding: 0;
    margin-top: -1rem;
    height: 13rem;
}

footer ul.columna-33{
    display: flex;
    margin: 0;
    
}




footer ul li{
    margin: 1rem;
    list-style: none;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}

footer ul li img{
    height: 3rem;
}

footer h3{
    margin-top: 2rem;
   margin-left: 5rem ;
   font-size: 1rem;
}


.autor{
    background-color: rgb(197, 191, 191);
    padding: 1rem;
    text-align: center;
    color: #171a21;
}


/*lomasvndido y tablas*/
div.cajaH2 h2{
    font-size: 4rem;
    margin: .5rem 1rem 0rem 1rem;
}

div.cajaH2{
    text-align: center;
}

table,td,th{
    border: solid white 0.1rem;
    border-collapse: collapse;
    padding: 1rem;
    text-align: center;
    color: rgb(135, 221, 250);
}
td img{
    height: 4rem;
}
th, .fondoTd{
    background-color: #171a21;
}

/*Formulario*/

fieldset div{
    padding: 1.5rem;
    text-align: center;
}
fieldset{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif ;
    width: 50%;
    margin-left: 25%;
}
fieldset button{
    text-transform: uppercase;
    padding: .5rem 1rem;
    border: 0.3rem solid white;
    color: white;
    border-radius: .5rem;
    background-color: #171a21;
    font-size: 1.5rem;

}
fieldset button:hover{
    cursor: pointer;
    background-color: white;
    color:#171a21 ;
    transition: 0.5s;
    border: 0.3rem solid #171a21;
}
fieldset{
    border-style: none;
    background-color: gray;
    border-radius: 1rem;
}
legend{
    text-align: center;
    padding-top: 2rem;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 1.5rem;
    color:#171a21;
}
